# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data recordings & temp clips
data/recordings/clips/*.mp4
data/recordings/events/*.json

# Wheels cache
lib/wheels/
*.whl

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
