# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local python environments and packages
lib/
venv/
.venv/
env/
*.whl

# Scratch & test outputs
scratch/
data/web_uploads/*
data/web_results/*
data/recordings/clips/*
data/recordings/events/*
!data/recordings/clips/.gitkeep
!data/recordings/events/.gitkeep
!data/web_uploads/.gitkeep
!data/web_results/.gitkeep

# Model weights
*.pt
!data/weights/*.pt

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
